.nav-item:hover .nav-link:hover {
  background-color: rgb(2, 117, 216);
}
.nav-item:active .nav-link:active {
  background-color: rgb(2, 117, 216);
  color: white;
}
.nav-item .nav-link {
  margin-left: 15px;
}
body {
  background-image: url("r6s.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: table;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 10%;
  height: ;
  text-align: center;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.card-group{
  align-self: center;
  }
img{
  opacity: 1;
}
.card-img-bottom {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -7px; ;
}
.card-columns{
  position: relative;
}
.esportcim{
 position: relative;
text-align: center;
}
.esportleiras{
position: relative;
left: 7%;
.lábléc{
  color: white;
  text-align: center;
  display: table-footer-group;
  width:100%;
  background-color: black;
  opacity: 0.5;
  font-size: 75%;
}